@media(min-width: 600px ) and (max-width: 768px){
    
}
@media(max-width: 600px ) {
    .top-bar{
        line-height: 20px;
    }
    .dia-chi-nhan-hang ul li,.phuong-thuc-thanh-toan ul li{
        display: list-item;
        list-style: none;
    }
    .dangnhap{
        width: 300px;
    }
    html{
        font-size: 12px;
    }
    .logo-footer{
        transform: translate(20%,0%);
    }
    .pay-method img{
        width: 120px;
    }
    .soluong .btn{
        width: 50px;
    }
    .sum{
        display: none;
    }
    .phuong-thuc-thanh-toan ul li{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .phuong-thuc-thanh-toan ul li span{
        display: none;
    }
    .list-products ul li{
        width: 120px;
        float: right;
        list-style: none;
        margin: 20px 0px 20px;
        margin-right: 20px;
    }
    .body-news{
        padding:0 30px;
    }
    h2{
        margin-bottom: 20px;
    }
    
}
@media(max-width: 768px) {
    
    .toggle,
    .filter{
        display: block;
    }
    #ngonngu, .top-bar, #contact, .logo, .fa-circle-user{
        display: none;
    }
    .top-bar ul li{
        float: left;
        padding: auto;
    }
    .main-menu ul li{
        clear: both;
        flex-direction: column;        
    }
    .category-left
    {
        height: auto;
        display: none;
        overflow-y: hidden;
    }
    
}
@media(min-width: 768px) {
}
@media(min-width: 1023px) and (max-width:1180px){
}
@media(min-width: 1180px) {
   
}

